.div1
{
	position: absolute;
	top: 5%;
	left: 10%;
}

.div2
{
	position: absolute;
	top: 5%;
	left: 22%;
}

.div3
{
	position: absolute;
	font-size: 130%;
	top: 8%;
	right: 10%;
}

.div4
{
	position: absolute;
	top: 8%;
	right: 4%;
	cursor: pointer;
}

.form
{
	position: absolute;
	top: 13%;
	right: 4%;
}

.Labels
{
	cursor: pointer;
	font-size: 30px;
	color: black;
}

body{
    background-image: url(../images/主界面/主页背景.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    zoom: 1;
}

.line{
    width: 96%;
    height: 8px;
    background: black;
    position: absolute;
	top: 25%;
	left: 2%;
}

